*{
    margin: 0px;
    box-sizing: border-box;
}

.search{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}
input{
    width: 500px;
    font-size: 25px;
    padding-left: 20px;
    height: 50px;
    margin-bottom: 20px;
    justify-items: center;
    border: none;
    border-bottom: 5px solid teal;
    cursor: pointer;
}
.searchbutton{   
    margin-left: 10px;
    margin-bottom: 15px;
    transform: translateX(-10px);
    background: none;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}
.searchbutton:hover {
    transform: scale(1.05)
}

.addingImages {
    margin-top: 20px;
    margin: 10px 10% 0px 10%;
    justify-content: center;
    gap: 20px;
    /* background-color: aqua; */
    /* height: auto;
    width: auto; */
    display: flex;
    flex-wrap: wrap;

}
.imagesDiv:hover{
    transform: scale(1.05);
}

